@tailwind base;
@tailwind components;
@tailwind utilities;

.tabcontent {
  display: none;
}

.tabcontent-active {
  display: block;
}

.mid-square {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 95% 100%);
}
