@tailwind base;
@tailwind components;
@tailwind utilities;

.tabcontent {
  display: none;
}

.tabcontent-active {
  display: block;
}

.mid-square {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 95% 100%);
}

.bg-pokemon-theme {
  background: rgb(81, 153, 153);
  background: radial-gradient(
    circle,
    rgba(81, 153, 153, 1) 0%,
    rgba(48, 98, 116, 1) 100%
  );
}

option {
  background: #306274 !important;
}
